<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration" />
  <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 --></configSections>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="Data Source=.; Integrated Security=True; MultipleActiveResultSets=True" />
      </parameters>
    </defaultConnectionFactory>
    <contexts>
      <context type="ProjectTasks.Data.EF.ApplicationDataContext, ProjectTasks.Data.EF">
        <databaseInitializer type="ProjectTasks.Data.EF.ApplicationDataContextInitializer, ProjectTasks.Data.EF" />
      </context>
    </contexts>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
    <assembly name="ProjectTasks.Data.Interfaces" />
    <assembly name="ProjectTasks.Data.EF" />
    <assembly name="ProjectTasks.Data.Repository" />
    <container>
      <register type="ProjectTasks.Data.Interfaces.IUnitOfWork`1, ProjectTasks.Data.Interfaces" mapTo="ProjectTasks.Data.UnitOfWork`1, ProjectTasks.Data">
        <lifetime type="perresolve" />
      </register>
      <register type="ProjectTasks.Data.Interfaces.IDataContext, ProjectTasks.Data.Interfaces" mapTo="ProjectTasks.Data.EF.ApplicationDataContext, ProjectTasks.Data.EF" />
      <register type="ProjectTasks.Data.Interfaces.IRepository`2, ProjectTasks.Data.Interfaces" mapTo="ProjectTasks.Data.Repository`2, ProjectTasks.Data" />
      <register type="ProjectTasks.Business.Services.Interfaces.IServices, ProjectTasks.Business.Services.Interfaces" mapTo="ProjectTasks.Business.Services.Services, ProjectTasks.Business.Services" />
    </container>
  </unity>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
</configuration>