/* Metronic custom */
body {
    background-color: #A41128;
}
body div.page-header.navbar {
    background: transparent url('../images/bck.png') repeat-x 0 0;
}
body div.page-header.navbar.navbar-fixed-top {
    z-index: 1049 !important;
    height: 67px
}
body div.page-header.navbar.navbar-fixed-top .page-logo {
    height: 67px;
}
body div.page-header.navbar .page-logo .logo-default{
    margin: 8px 0 0 0;
}
body div.page-header.navbar .menu-toggler.sidebar-toggler {
    background: none;
    margin: 26px 0 0 0;
}
body div.page-header.navbar .menu-toggler.sidebar-toggler i.fa {
    font-size: 20px;
    color: #FFF;
}
body .page-header.navbar .top-menu .navbar-nav > li.dropdown {
    height: 67px;
}
body .page-header.navbar .top-menu .navbar-nav > li.dropdown-user .dropdown-toggle {
    padding: 19px 6px 19px 14px;
    background-color: transparent;
}
body .page-header.navbar .top-menu .navbar-nav > li.dropdown.open .dropdown-toggle {
    background:rgba(255,255,255,0.2);
}
body .page-header.navbar .top-menu .navbar-nav > li.dropdown-user .dropdown-toggle .username {
    color: #FFF;
}
bady .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover, .page-sidebar {
    background-color: #A41128;
}
.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li:hover > a, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li.open > a, .page-sidebar .page-sidebar-menu > li:hover > a, .page-sidebar .page-sidebar-menu > li.open > a {
    background: rgba(225,225,225, 0.2);
    color: #FFF;
}
.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li > a, .page-sidebar .page-sidebar-menu > li > a {
    color: white;
    border-top: 1px solid #FFF;
}
.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li > a > i, .page-sidebar .page-sidebar-menu > li > a > i {
    color: #FFF;
}
.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li:hover > a > i, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li.open > a > i, .page-sidebar .page-sidebar-menu > li:hover > a > i, .page-sidebar .page-sidebar-menu > li.open > a > i {
    color: #FFF;
}
.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li.active.open + li > a, .page-sidebar .page-sidebar-menu > li.active.open + li > a {
    border-top-color: #FFF;
}
.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu .sub-menu > li:hover > a > i, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu .sub-menu > li.open > a > i, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu .sub-menu > li.active > a > i, .page-sidebar .page-sidebar-menu .sub-menu > li:hover > a > i, .page-sidebar .page-sidebar-menu .sub-menu > li.open > a > i, .page-sidebar .page-sidebar-menu .sub-menu > li.active > a > i {
    color:white;
}
.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu .sub-menu > li:hover > a, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu .sub-menu > li.open > a, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu .sub-menu > li.active > a, .page-sidebar .page-sidebar-menu .sub-menu > li:hover > a, .page-sidebar .page-sidebar-menu .sub-menu > li.open > a, .page-sidebar .page-sidebar-menu .sub-menu > li.active > a {
    background: rgba(225,225,225,0.2) !important;
    color: white;
}
.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu .sub-menu > li > a, .page-sidebar .page-sidebar-menu .sub-menu > li > a {
    color: #FFF;
}
.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu .sub-menu > li > a > i, .page-sidebar .page-sidebar-menu .sub-menu > li > a > i {
    color:white;
}
.page-header-fixed .page-container {
    margin-top: 67px;
}
.page-footer .page-footer-tools .go-top {
    background-color: transparent;
    margin-top: 9px;
}
.page-footer .page-footer-tools .go-top i {
    color: #FFF;
}
.page-footer .page-footer-inner {
    color: white;
}
.form-wizard ul.nav a{
    color: #555;
    pointer-events:none;
}
.modal.fullscreen .modal-dialog {
    width: 95%;
}