<div class="page-footer">
    <div class="page-footer-inner" style="padding-left: 14px;">
        &nbsp;&nbsp;2014 - Bugs and tasks management - M3gur0 - all rights reserved.</div>
    <div class="page-footer-tools"><span class="go-top"><i class="fa fa-angle-up"></i></span></div>
</div>