<div class="page-footer">
    <div class="container">
        2014 - Bugs and tasks management - M3gur0 - all rights reserved.
    </div>
</div>
<div class="scroll-to-top">
    <i class="icon-arrow-up"></i>
</div>