<head>
    <meta charset="utf-8" />
    <title>M3gur0 | Tracking Tasks &amp; Bugs</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <meta content="" name="description" />
    <meta content="" name="author" />
    <link rel="shortcut icon" href="/favicon.ico" />
    @Styles.Render("~/content/metronic-theme-css")
    @Styles.Render("~/content/meguro-css")
</head>