<div class="page-header">
    <div class="page-header-top">
        <div class="{{layoutMode}}">
            <div class="page-logo">
                <a href="/">
                    <img src="~/Content/Meguro/images/logo.png" />
                </a>
            </div>
            <a href="javascript:;" class="menu-toggler"></a>
            <div class="top-menu">
                <ul class="nav navbar-nav pull-right">
                    <li class="dropdown dropdown-extended dropdown-dark dropdown-notification" id="header_notification_bar">
                        @Html.Partial("Notification")
                    </li>
                    <li class="droddown dropdown-separator">
                        <span class="separator"></span>
                    </li>

                    <li class="dropdown dropdown-user dropdown-dark">
                        <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
                            <img alt="" class="img-circle" src="~/content/metronic/images/avatar.png">
                            <span class="username username-hide-mobile">@User.Identity.Name</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="page-header-menu">
            <div class="{{layoutMode}}">
                <form class="search-form" action="extra_search.html" method="GET">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Search" name="query">
                        <span class="input-group-btn">
                            <a href="javascript:;" class="btn submit"><i class="icon-magnifier"></i></a>
                        </span>
                    </div>
                </form>
                <div class="hor-menu ">
                    @Html.MvcSiteMap().Menu("Navbar")
                </div>
            </div>
        </div>
    </div>
</div>