@model Area

<div class="row">
    <div class="@BootstrapColumns.Medium.Col12 @BootstrapColumns.Small.Col12">
        <table id="areaTreeTable" data-tt="" class="table table-bordered table-striped table-condensed flip-content">
            <thead>
                <tr>
                    <th>Label</th>
                    <th>Another column</th>
                </tr>
            </thead>
            <tbody>
                <tr data-ng-repeat="item in data" data-tt-id="{{item.Id}}" data-tt-parent-id="{{item.ParentId}}">
                    <td>{{item.Label}}</td>
                    <td>Another column content</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

